<h2>Article classification</h2>
<mat-card>
   <form #classForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
            <mat-form-field>
                <textarea matInput placeholder="Enter your document" [(ngModel)] = "text"
                        name = "text" 
                        required #spy
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="10"
                        cdkAutosizeMaxRows="20"
                        #filltext = "ngModel">
                </textarea> 
                 <mat-error *ngIf="!(filltext.valid || filltext.pristine)">
                   The article is required
                </mat-error>  
            </mat-form-field>
        </div>
               
        <div class="example-button-row"> <br>
            <button mat-raised-button color="primary"  [disabled]="!classForm.form.valid">Classify</button>
        </div>
    </form>
</mat-card>