
<h3>Login</h3>

<mat-card>
  <p> Fill Your Email and Password</p>
   <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
       
          <mat-form-field>
          <input matInput placeholder="Enter your email" [(ngModel)] = "email"
          name = "email" 
          #mail = "ngModel">
          <mat-error *ngIf="!(mail.valid || mail.pristine)">
              Name is required
                </mat-error> 
                  
          </mat-form-field>
     </div> 

      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" 
          [(ngModel)] = "password"
                  name = "password"
                  >
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="alert" *ngIf = "auth.masageerror">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        {{auth.masageerror}}
      </div>
      <br>
    <div >
        <button mat-raised-button color="primary" (click)="onSubmit()" >Login</button>
    </div>
  </form>
</mat-card>


<!-- This is a comment-->

