<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar *ngIf = "categoryImage"> <!-- בדיקה האם קיים המשתנה הרלוונטי-->
       <img [src] = "categoryImage">
    </div>
   
    <mat-card-title>
      <mat-form-field>
        <mat-select #category placeholder={{classCategory}} value={{classCategory}}>
          <mat-option value="business">Business</mat-option>
          <mat-option value="entertainment">Entertainment</mat-option>
          <mat-option value="politics">Politics</mat-option>
          <mat-option value="sport">Sport</mat-option>
          <mat-option value="tech">Tech</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-title>
    <mat-card-subtitle>Your Document:</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
      {{classervice.doc}}
    </p>
  </mat-card-content>
  
  <mat-card-actions class="example-button-row">
    <button mat-raised-button color="primary" (click)="addToFirebase(category.value, classervice.doc)">Save in Firebase</button>
  </mat-card-actions>
</mat-card>